.hero{
    &__container{
        backdrop-filter: blur(4px);
        &--contact{
            background-color: rgba(map-get($map: $colors, $key: navy), 0.4);
        }
    }
    &__title{
        &--home{
            @include zoominleft(1s);
        }
        &--galery{
            @include fade-in(1s);
        }
        &--contact{
            @include tracking_in(0.8s);
        }
    }
    &__text{
        @include fade-in(2s);
    }
    &--home{
        background-image: url(../assets/img/hero.webp);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    &--galery{
        background-image: url(../assets/img/hero-galeria.webp);
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }
    &--contact{
        background-image: url(../assets/img/contacto.webp);
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }
}