


.hero{
    &__container{
        backdrop-filter: blur(4px);
    }
    &__title{
        &--home{
            @include zoominleft(1s);
        }
        &--galery{
            @include fade-in(1s);
        }
    }
    &__text{
        @include fade-in(2s);
    }
    &--home{
        background-image: url(../assets/img/hero.webp);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    &--galery{
        background-image: url(../assets/img/hero-galeria.webp);
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }
    &--contact{
        height: 50vh;
        border-radius: 0px 30px
    }
}