* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

/*clases personalizada de colores*/
/* paleta de colores https://coolors.co/d64045-e9fff9-9ed8db-467599-1d3354*/
.g-color-primary {
  color: #e9fff9;
}

.g-bg-primary {
  background-color: #e9fff9;
}

.g-color-secondary {
  color: #d64045;
}

.g-bg-secondary {
  background-color: #d64045;
}

.g-color-accent {
  color: #03172B;
}

.g-bg-accent {
  background-color: #03172B;
}

.g-color-dark {
  color: #000000;
}

.g-bg-dark {
  background-color: #000000;
}

.g-color-navy {
  color: #1d3354;
}

.g-bg-navy {
  background-color: #1d3354;
}

.g-color-light {
  color: white;
}

.g-bg-light {
  background-color: white;
}

@keyframes zoominleft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
/*import layout*/
.navbar {
  box-shadow: 0px 5px 10px black;
}
.navbar__brand:hover {
  color: #d64045;
}
.navbar__link {
  transition: 400ms;
}
.navbar__link i {
  margin-right: 8px;
}
.navbar__link:hover {
  transform: scale(1.2);
  color: #e9fff9;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .navbar__link {
    transition: 400ms;
  }
  .navbar__link:hover {
    transform: scale(1.01);
    color: #e9fff9;
    transition: all 0.3s ease-in-out;
  }
}

.hero__container {
  backdrop-filter: blur(4px);
}
.hero__container--contact {
  background-color: rgba(29, 51, 84, 0.4);
}
.hero__title--home {
  animation-name: zoominleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.hero__title--galery {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.hero__title--contact {
  animation: tracking-in-expand-fwd;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}
.hero__text {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.hero--home {
  background-image: url(../assets/img/hero.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero--galery {
  background-image: url(../assets/img/hero-galeria.webp);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
.hero--contact {
  background-image: url(../assets/img/contacto.webp);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.about__title {
  text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.425);
}
.about__text {
  text-align: center;
}
.about__text--bold {
  font-weight: bold;
}
.about__img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.card {
  width: 100%;
  height: 100%;
  transition: 400ms;
}
.card__img {
  width: 100%;
  height: auto;
}
.card__box p {
  font-size: 0.8rem;
  text-align: justify;
}
.card:hover {
  transform: scale(1.05);
  transition: 400ms;
  box-shadow: 0px 5px 5px black;
}

.form {
  height: auto;
  border-radius: 0px 30px;
}
.form__button:hover {
  background-color: #e9fff9;
  color: #d64045;
}

.foot__link {
  margin-left: 10px;
  transition: 400ms;
}
.foot__link:hover {
  transform: scale(1.2);
  color: #e9fff9;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
