*{
    /*reset*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/** iniciamos con los estilos del nav-bar**/
.bg-style-nav{
    background-color: #003049;
    box-shadow: 0px 5px 10px black;
}

.bg-style-nav .nav-link{
    color: #F0F7F4;
}

.nav-link i {
    margin-right: 8px;
}

.nav-link:hover{
    color: black;
}

.navbar-toggler {
    background-color: #ffffff;
}

/** estilamos la seccion de HERO en main**/

.hero{
    background-image: url(../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.text-hero{
    color: #F0F7F4;
    text-shadow: 2px 2px 1px black
}

/** estilamos la seccion nosotros en el main**/

.title-nosotros{
    text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.425)
}

.img-nosotros{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    transition: 400ms;
}
.img-nosotros:hover{
    transform:translateX(5px);
    transition: 400ms;
}

/** estilamos galeria**/

.hero-galeria{
    background-image: url(../assets/img/hero-galeria.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}
.fx-blur{
    backdrop-filter: blur(4px);
}

.card{
    width: 100%;
    height: 100%;
    transition: 400ms;
}

.card img{
    width: 100%;
    height: auto;
}

.card-body p{
    font-size: 0.8rem;
    text-align: justify;
}

.card:hover{
    transform: scale(1.05);
    transition: 400ms;
    box-shadow: 0px 5px 5px black;
}


/** estilamos la pagina de contacto**/

.bg-container-contacto{
    background-color: #F77F00;
    height: 50vh;
    border-radius: 0px 30px;
}

.title-contacto{
    color: #F0F7F4;
}

.bg-form{
    background-color: #003049;
    height: auto;
    border-radius: 0px 30px;
}

/** estilamos el footer**/
.my-bg-footer{
    background-color:#EAE2B7;
}

.ms-3:hover{
    transform: scale(1.2);
    transition: 400ms;
}
